@charset "UTF-8";
/* CSS Document */

/*background*/

body {
	background-color: #FFFAF5; 
}



/*div container box*/
container_box {
}

/*links i navigation sat på lije række*/
.navigation li {
	display: inline-block;
}

/*links i navigation*/
.navigation a {
	display: block;
	padding: 7px 35px 7px 35px;
	font-size: 16px;
	color: #ff931e;
	text-decoration: none;
	z-index: 100;
}

.navigation ul {
	list-style-type: none;
	text-align: left;
}


.foreground_logo img {
	margin: 33px 27px;
}

.container_foreground_logo {
	width: 20%;
	float: left;
}

.foreground_logo {
	width: 170px;
	height: 170px;
	background-color: black;
	box-shadow: 25px 25px 0px #F4ECE6;
	margin-top: 27px;
	margin-left: 20px;
	z-index: 20;
}

.foreground_box {
}

.image img {
	width: 100%;
}

.background_box {
	width: 900px;
	height: 400px;
	background-color: white;
	box-shadow: 50px 50px 0px black;
	position: absolute;
	z-index: -5;
	margin: -100px 0px 0px -100px;
}

.connect {
	position: absolute;
	background: #51D6D6;
	width: 1223px;
	padding: 15px 0px;
	left: 225px;
	top: 635px;
}

.connect ul {
	list-style-type: none;
	text-align: center;
}

.connect li {
	display: inline-block;
}

.connect a {
	display: block;
	padding: 7px 35px 7px 35px;
	font-size: 20px;
	color: #333333;
	text-decoration: none;
	text-align: center;
}

.border {
	border-color: #FF931E;
	border-style: solid;
	border-width: 2.5px;
	height: 50px;
	width: 700px;
	padding: 107px;
	margin-left: 470px;
	margin-top: -200px;
	z-index: -1;
}
	
.portfolio {
	position: relative;
	width: 175px;
	left: 642px;
	bottom: 155px;
	margin-top: -100px;
}

.kort-om {
	position: relative;
	width: 35em;
	margin: 10px 62px;
	top: -150px;
	left: 580px;
}

.kort-om a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.lets-connect p {
	font-size: 35px;
	font-weight: bold;
	color: black;
}

.name {
	position: absolute;
	right: 380px;
	bottom: 441px;
}

.name {
	font-size: 47px;
	font-weight: 600;
}

.navigation {
	position: fixed;
	background: black;
	width: 789.5px;
	margin-top: -170px;
	left: 650px;
	z-index: 50;
}

.portfolio h2 {
	font-size: 25px;
	text-transform: uppercase;
}

h1 {
	color: #EFBC8A;
	padding-top: 50px;
}

/*box til logo*/
.foreground_logo {
	text-align: center;
}


/*flow 1 position*/
.flow1 p {
	background-color: yellow;
	width: 265px;
	margin-left: 150px;
}

/*flow 1 tekst formatering*/
.flow1 p {
	font-size: 35px;
	font-weight: bold;
}

/*flow 2 container*/
.flow2 {
position: absolute;
}

/*flow 2 position*/
.flow2 p {
	background-color: yellow;
	width: 265px;
	margin-left: 150px;
}

/*flow 2 tekst formatering*/
.flow2 p {
	font-size: 35px;
	font-weight: bold;
}

.img_bg_box {
	margin-left: -110px;
	margin-top: -146px;
	position: absolute;
	z-index: -10;
}

/*portfolio*/
.container-portfolio {
	background-color: #FFEC9C;
	position: absolute;
	width: 1432px;
	height: 161px;
	z-index: -1;
	text-align: center;
	margin-top: 2px;
}

.portfolio-items {
	display: inline-block;
	background-color: black;
	padding: 91px;
	margin: 12px;
	z-index: 1;
}

/*link hover*/
a:hover {
	text-decoration: line-through;
}


.image {
	width: 330px;
	margin-top: 25px;
	margin-left: 215px;
	box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.15);
}


.kort-om {
	font-size: 20px;
}

.lets-connect {
	position: relative;
	width: 150px;
	bottom: 121px;
	left: 150px;
}




.text-box {
	
}

.vertical-line {
	background-color: #C8C4C4;
	clear: both;
	width: 0;
	margin-left: 190px;
	margin-top: -105.5px;
	z-index: 100;
}

.quote-box p {
	margin-top: -110px;
}
	
.vertical-line {
	border-right: 0.75px solid #95989A;
	height: 89px;
}

.simple-text p {
	float: left;
	margin-left: 188px;
	margin-top: -87px;
}

.simple-text p {
	font-size: 15px;
	font-weight: bold;
}

.air {
	height: 1500px;
}


.flows {
	position: relative;
	width: 150px;
	bottom: 86px;
	left: 150px;
}

.flows p {
	font-size: 35px;
	font-weight: bold;
}

.et-semester {
	position: relative;
	background-color: #FFCE96;
	width: 1215px;
	padding: 55px 0px;
	left: 225px;
	top: 44px;
}

#footer {
	height: 34px;
	width: 100%;
	margin-top: 430px;
	text-align: center;
}

#arrow-down {
	display: block;
	position: absolute;
	top: 731px;
	right: 50%;
	left: 50%;
}

#arrow-down img {
	width: 31px;
}

.portfolio-items a {
	color: #ff931e;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}

.copyright {
	position: absolute;
	text-align: center;
	margin-left: 100px;
}
