@charset "UTF-8";
/* CSS Document */

/*background*/

body {
	background-color: #FFFAF5; 
}



/*div container box*/
container_box {
}

/*links i navigation sat på lije række*/
.navigation li {
	display: inline-block;
}

/*links i navigation*/
.navigation a {
	display: block;
	padding: 7px 35px 7px 35px;
	font-size: 16px;
	color: #ff931e;
	text-decoration: none;
	z-index: 100;
}

.navigation ul {
	list-style-type: none;
	text-align: left;
}


.foreground_logo img {
	margin: 33px 27px;
}

.container_foreground_logo {
	width: 20%;
	float: left;
}

.foreground_logo {
	width: 170px;
	height: 170px;
	background-color: black;
	box-shadow: 25px 25px 0px #F4ECE6;
	margin-top: 25px;
	margin-left: 20px;
	z-index: 20;
}

.foreground_box {
}

.background_box {
	width: 900px;
	height: 400px;
	background-color: white;
	box-shadow: 50px 50px 0px black;
	position: absolute;
	z-index: -5;
	margin: -100px 0px 0px -100px;
}

.connect {
	position: absolute;
	background: #51D6D6;
	width: 1215px;
	padding: 20px 0px;
	left: 225px;
	top: 638px;
}

.connect ul {
	list-style-type: none;
	text-align: center;
}

.connect li {
	display: inline-block;
}

.connect a {
	display: block;
	padding: 7px 35px 7px 35px;
	font-size: 20px;
	color: #333333;
	text-decoration: none;
	text-align: center;
}

.border {
	border-color: #FF931E;
	border-style: solid;
	border-width: 2.5px;
	height: 50px;
	width: 700px;
	padding: 107px;
	margin-left: 470px;
	margin-top: -200px;
	z-index: -1;
}
	
.portfolio {
	position: relative;
	background: orange;
	width: 175px;
	left: 642px;
	bottom: 155px;
	margin-top: -100px;
}

.kort-om {
	position: relative;
	width: 30em;
	background: pink;
	margin: 10px 62px;
	top: -150px;
	left: 580px;
}

.kort-om a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.lets-connect p {
	
	font-size: 35px;
	font-weight: bold;
}

.name {
	position: absolute;
	background: pink;
	right: 380px;
	bottom: 441px;
}

.name {
	font-size: 47px;
	font-weight: 600;
}

.navigation {
	position: fixed;
	background: black;
	width: 789.5px;
	margin-top: -170px;
	left: 650px;
	z-index: 50;
}

.portfolio h2 {
	font-size: 25px;
	text-transform: uppercase;
}

h1 {
	color: #EFBC8A;
	padding-top: 50px;
}

/*box til logo*/
.foreground_logo {
	text-align: center;
}

/*Øhh...*/
.mellemrum {
	margin: 50px;
}



/*flow 1 position*/
.flow1 p {
	background-color: yellow;
	width: 40%;
	margin-left: 375px;
}

/*flow 1 tekst formatering*/
.flow1 p {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

/*flow 2 position*/
.flow2 p {
	background-color: yellow;
	width: 30%;
	margin-left: 375px;
}

/*flow 2 tekst formatering*/
.flow2 p {
	font-size: 20px;
	font-weight: bold;
	width: 5%;
	height: 20%;
	padding: 10px;
}

.img_bg_box {
	margin-left: -110px;
	margin-top: -146px;
	position: absolute;
	z-index: -10;
}

/*portfolio*/
.container-portfolio {
	position: relative;
	width: 1000px;
	margin: auto;
}

.portfolio-items {
	display: inline-block;
	background-color: #E8E8E8;
	align-content: center;
	padding: 50px;
	margin: 20px;
	box-shadow: 7px 7px 5px red;
}

/*link hover*/
a:hover {
	text-decoration: line-through;
}


.image {
	width: 330px;
	margin-top: 25px;
	margin-left: 215px;
	box-shadow: 20px 20px 10px 0 rgba(0, 0, 0, 0.15);
}


.kort-om {
	font-size: 20px;
}

.lets-connect {
	position: relative;
	width: 150px;
	bottom: 140px;
	left: 150px;
}

.lets-connect p {
}
